$black: #1b2b34;
$black_light: #343d46;
$gray_dark: #4f5b66;
$gray: #65737e;
$gray_light: #a7adba;
$white: #c0c5ce;
$silver: #cdd3de;
$silver_light: #d8dee9;
$white_pure: #ffffff;

$red: #ec5f67;
$orange: #d74e45;
/*$green: #99c794;*/
$green: #bef7bf;
$yellow: #fac863;
$alice_blue: #f0f8ff;
$blue: #294478;
$blue_light: #f3f7ff;
$magenta: #c594c5;
$cyan: #62b3b2;

