@font-face {
    font-family: 'Helvetica Neue LT Std 43 Light Extended';
    src: url('/fonts/Helvetica Neue LT Std 43 Light Extended.eot'), url('http://dokoissho.sdf.org/fonts/Helvetica Neue LT Std 43 Light Extended.otf'), url('/fonts/Helvetica Neue LT Std 43 Light Extended.woff') format('woff'), url('/fonts/Helvetica Neue LT Std 43 Light Extended.ttf') format('truetype'), url('/fonts/Helvetica Neue LT Std 43 Light Extended.svg') format('svg');
	font-weight: normal | bold;
	font-style: normal;
}
@font-face {
	font-family: 'HelveticaNeueLTStd-BdEx';
	src: url('/fonts/HelveticaNeueLTStd-BdEx.eot'), url('/fonts/HelveticaNeueLTStd-BdEx.otf'), url('/fonts/HelveticaNeueLTStd-BdEx.woff') format('woff'), url('/fonts/HelveticaNeueLTStd-BdEx.ttf') format('truetype'), url('/fonts/HelveticaNeueLTStd-BdEx.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@charset "UTF-8";