/*-- scss:defaults --*/

// use litera as the base
$theme: "litera" !default;

// import google fonts
@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap';
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

// use Adobe Europa font
@import url("https://use.typekit.net/sfe1vyn.css");
@import url('https://fonts.cdnfonts.com/css/univers-next-pro');
// use Atkinson Hyperlegible font if available
$font-family-sans-serif: "Work Sans", "UniversNextPro", "Source Sans Pro", "Atkinson Hyperlegible", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

//$primary:  #06436e !default;
$font-family-serif: 'Sans Serif Pro', serif !default;
$headings-font-family: 'Work Sans', sans-serif !default;

/*-- scss:rules --*/

// litera is serif by default: revert to san-serif

hr {
    display: block;
    height: 1px;
    width: 8%;
    border: 0;
    border-top: 25px solid #f99157;
    margin: 1em 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headings-font-family;
  font-size: 22px;
 }
h1 {
  font-size: 30px;
  //text-transform: uppercase;
}
p, li {
  font-family: $font-family-sans-serif;
  font-size: 14pt;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
    text-decoration-color: #f99157;
    text-decoration-thickness: 3px;
    text-decordation-offset: 3px;
    //background-color: #f99157;
}

a:active {
    color: black;
    text-decoration: none;
}

table, th, td { 
  a:hover {
    color: black;
    text-decoration: underline;
    text-decoration-color: #f99157;
    text-decoration-thickness: 3px;
    text-decordation-offset: 3px;
    //background-color: #f99157;
  } 
}

h1 > a:hover {
    color: black;
    text-decoration: underline;
    text-decoration-color: #f99157;
    text-decoration-thickness: 3px;
    text-decordation-offset: 3px;
    //background-color: #f99157;
}
